
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blk{
    color: black;
}

.gry{
    color: grey;
}



a{
    text-decoration: none;
}

.flp-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flp-bg-w{
    background-color: white;
}

.flp-bg-b{
    background-color: black;
    
}

.flp-bg-r{
    background-color: rgb(0, 60, 255);
    height: 5000px;
}

.flp-padding{
    padding: 0.3%;
    
}

.flp-padding2{
    padding: 1%;   
}

.flp-font1{
    font-size: 1.0em;
    font-weight: 600;
}

.flp-font2{
    font-size: 150%;
}

.mrg{
    margin: 8px;
}

.sonylogo{
padding: 10%;
}



.ps-logo{
    width: 200%;
}

.rnd1{
    border-radius: 30px;
    background-color: rgb(77, 77, 77);
}

.menu-button{
    border: 1px solid grey;
    padding: 4px 8px;
    border-radius: 5px;
}
