
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blk{
    color: black;
}

.gry{
    color: grey;
}



a{
    text-decoration: none;
}

.flp-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flp-bg-w{
    background-color: rgb(207, 23, 23);
    height: 54px;
}

.flp-bg-b{
    background-color: black;
    height: 40px
}

.maingap{
margin-top: 94px;
background-color: aqua;
height: 500px;
}

.flp-padding{
    padding: 0.3%;
    
}


.flp-padding2{
       margin: 10px;
}

.flp-font1{
    font-size: 1.0em;
    font-weight: 500;
}

.flp-font2{
    font-size: 1.5em;
}

.mrg{
    margin: 0px 0px 0px 8px;
}

.sonylogo{
padding: 10%;
}

.rnd1{
    border-radius: 30px;
    background-color: rgb(77, 77, 77);
}

.menu-button{
    border: 1px solid grey;
    padding: 4px 8px;
    border-radius: 5px;
}
